# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# database
*.db

# logs
*.log

# environment variables
.env

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage